<h1>Add Song</h1>

<form method="POST" action="/songs">
  <input name="song[title]" placeholder="Song title" type="text" />
  <input name="song[duration]" placeholder="Song duration" type="text" />
  <button>Submit</button>
</form>

<button><a href="/songs">Go Back</a></button>
